@import './_mixins/_variables';

.dashboard {
  align-content: start;
  background: $primary-white;
  display: grid;
  grid-gap: 16px;
  grid-row: 1/2;
  margin: 4% 0;
  padding: 2%;

  .dashboard--title {
    font-weight: 500px;
  }

  table,
  td,
  th {
    border: 1px solid #333;
  }

  thead {
    background-color: #e0e0e0;
  }

  tbody {
    background-color: $background-gray;
    height: 48px;
  }

  th {
    height: 3rem;
    padding: 16px;
    text-align: left;
    vertical-align: middle;
    font-weight: 700;
  }

  th, td {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td {
    padding: 16px;
    a {
      text-decoration: none;
    }
  }

  .bx--dropdown__wrapper {
    margin: 0 6px;
    min-width: 140px;
  }

  .dashboard__dropdown--container {
    display: flex;
    justify-content: space-between;

    .dashboard__filter--container {
      align-items: center;
      display: flex;

      .dashboard__search-input {
        .bx--search-input {
          height: 2.5rem;
        }

        .bx--search-close {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }
  }
}

// Search bar styles
.dashboard__search--wrapper {
  align-items: center;
  background-color: $background-gray;
  border-bottom: 1px solid $border-gray;
  display: flex;
  height: 2.5rem;
  max-width: 237px;

  .search__icon {
    fill: #616161;
    margin: 0 16px;
  }

  .dashboard__search-input {
    background-color: $background-gray;
    border: none;
    border-bottom: 1px solid $border-gray;
    font-family: $primary-font;
    font-size: 14px;
    height: 2.5rem;
  }

  .dashboard__search-input:focus,
  .search__close-icon--display:focus {
    outline: none;
  }

  .search__close-icon--display {
    background-color: $background-gray;
    border-bottom: 1px solid $border-gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: 2.5rem;
    width: 2.5rem;
  }

  .search__close-icon--display:hover {
    background-color: $hover-gray;
    border-bottom: 1px solid $border-gray;
  }

  .search__close-icon--hide {
    display: none;
  }
}
