@import './_mixins/_variables';

.dashboard {
  align-content: start;
  background: $primary-white;
  display: grid;
  grid-gap: 16px;
  grid-row: 1/2;
  margin: 4% 0;
  padding: 2%;

  .dashboard--title {
    font-weight: 500px;
  }

  table,
  td,
  th {
    border: 1px solid #333;
  }

  thead {
    background-color: #e0e0e0;
  }

  tbody {
    background-color: #f4f4f4;
    height: 48px;
  }

  th {
    height: 3rem;
    padding: 16px;
    text-align: left;
    vertical-align: middle;
    font-weight: 700;
  }

  th, td {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td {
    padding: 16px;
    a {
      text-decoration: none;
    }
  }

  .bx--dropdown__wrapper {
    margin: 0 6px;
    min-width: 140px;
  }

  .dashboard__dropdown--container {
    display: flex;
    justify-content: space-between;

    .dashboard__filter--container {
      align-items: center;
      display: flex;
    }
  }
}
